.icon-menu:before {
  content: '\e806';
} /* '' */
.icon-telegram:before {
  content: '\e84f';
} /* '' */
.icon-search:before {
  content: '\e86b';
} /* '' */
.icon-angle-left:before {
  content: '\e878';
} /* '' */
.icon-send:before {
  content: '\e8b3';
} /* '' */
